<div class="agileheader" id="agileitshome">
  <!-- Navigation -->
  <div class="w3lsnavigation">
    <nav class="navbar navbar-inverse agilehover-effect wthreeeffect navbar-default">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo -->
        <div class="logo">
          <a class="navbar-brand logo-w3l button" href="index.html">Silvao Roll</a>
        </div>
        <!-- //Logo -->
      </div>

      <div id="navbar" class="navbar-collapse navbar-right collapse">
        <ul class="nav navbar-nav navbar-right cross-effect" id="cross-effect">
          <li><a class="scroll" href="#" routerLink=''>SORTEIO</a></li>
          <li><a class="scroll" href="#" routerLink='/cadastrar-maletas'>CADASTRAR MALETAS</a></li>
        </ul>
      </div><!-- //Navbar-Collapse -->

    </nav>
  </div>
  <!-- //Navigation -->
  <!-- Slider -->
  <div class="slider">
    <ul class="rslides" id="slider">
      <li class="first-slide w3ls">
        <!-- <img src="images/slide-1.jpg" alt="Game Robo"> -->
        <div class="heading">
          <h1>GAME ROBO</h1>
          <h2>FREE FULL GAMES</h2>
          <h3>A UNIQUE PLACE TO DOWNLOAD</h3>
        </div>
      </li>
      <li class="second-slide aits">
        <img src="images/slide-2.jpg" alt="Game Robo">
      </li>
      <li class="third-slide w3-agileits">
        <img src="images/slide-3.jpg" alt="Game Robo">
      </li>
      <li class="fourth-slide agileinfo">
        <img src="images/slide-4.jpg" alt="Game Robo">
      </li>
      <li class="fifth-slide wthree">
        <img src="images/slide-5.jpg" alt="Game Robo">
      </li>
    </ul>
  </div>
    <!-- //Slider -->

</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<!-- Default-JavaScript -->   <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- Bootstrap-JavaScript --> <script type="text/javascript" src="js/bootstrap.min.js"></script>