<div class="container bg-light">
    <div id="cards" class="bg-light">
        <h3 style="margin-top: 30px; margin-bottom: 30px;" class="font-weight-light text-center my-3">SORTEIO</h3>
        <div class="container-fluid mx-auto d-none d-md-block my-3">
            <div class="row">
                <div class="col-6 col-lg-3 d-flex mb-3" *ngFor="let maleta of maletas">
                    <div class="card flex-fill">
                        <!-- <div class="card-header bg-primary text-light rounded">Card Title</div> -->
                        
                        <div class="card-body">
                                <div class="view overlay">
                                    <img [src]="maleta.arquivoExibir" 
                                         class="card-img-top img-fluid" alt="Abrir maleta"
                                         (click)="abrirMaleta(maleta.id)" />
                                </div>                             
                            <p class="my-2"></p> 
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-outline-primary d-block w-75 mx-auto" 
                                    style="margin-left:99px;"
                                    (click)="abrirModalConfirmacaoExclusaoMaleta(maleta.id)">
                                    Excluir
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
      <!-- Modal Premio-->
<div class="modal fade" id="modalPremio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">E o PRÊMIO foi de</h5>
            </div>
            <div class="modal-body">
                <span style="color:white;">{{premioDaMaleta.descricao}}</span>
            </div>
        </div>
    </div>
</div>

<!-- Modal Confirmação Exclusao Maleta-->
<div class="modal fade" id="modalConfirmacaoExclusaoMaleta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tem certeza que deseja excluir a maleta?</h5>
            </div>
            <div class="modal-body">
                <span style="color:white;">Ao excluí-la, o premio será desvinculado automaticamente.</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                <button type="button" class="btn btn-primary" (click)="excluirMaleta()">Sim</button>
            </div>
        </div>
    </div>
</div>

<div id="loader" class="loader loader-default is-active" *ngIf="showLoading">
</div>